site_name: FastAPI Starter Docs
site_url: https://supernova-ops.github.io/fastapi-uv-starter/
site_author: supernova-ops
repo_name: fastapi-uv-starter
# repo_url: https://github.com/username/fastapi-uv-starter

theme:
  name: material
  language: ko
  features:
    - navigation.tabs
    - navigation.top
    - navigation.instant
    - search.suggest
    - search.highlight
    - content.code.copy
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: 다크 모드
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: 라이트 모드

nav:
  - Home: index.md
  - Getting started:
      - Installation: guides/getting-started.md
      - UV project: guides/installation.md
      - Docker: guides/docker.md
      - GCP: guides/gcp.md
      - CICD: guides/cicd.md
  - 기술노트:
      - Python: tech/python.mdhttps://github.com/login/device?skip_account_picker=true
      - API명세: tech/api.md
  - 정보: about.md

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.superfences
  - pymdownx.snippets

plugins:
  - search
